@font-face {
  font-family: 'SSTPro-Light';
  src: url("../fonts/SSTPro-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/SSTPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SSTPro-Light.woff") format("woff"), url("../fonts/SSTPro-Light.ttf") format("truetype"), url("../fonts/SSTPro-Light.svg#2484f3c166c363c980494468a4296b83") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'SSTPro-Bold';
  src: url("SSTPro-Bold.eot");
  /* IE9 Compat Modes */
  src: url("SSTPro-Bold.eot?#iefix") format("embedded-opentype"), url("SSTPro-Bold.woff") format("woff"), url("SSTPro-Bold.ttf") format("truetype"), url("SSTPro-Bold.svg#1ed0f397dd84c4a1a512bddd3d65a5bf") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 250px;
  cursor: pointer;
  color: #fff;
  background: #000; }
  #mainContent div, #mainContent img {
    position: absolute; }

.spriteSheet {
  width: 300px;
  height: 250px;
  background: url(../img/spriteSheet.png) no-repeat;
  opacity: 0; }

#logo {
  width: 120px;
  height: 33px;
  opacity: 1; }

#copy1 {
  width: 100%;
  top: 47px;
  left: 300px;
  font-family: 'SSTPro-Light';
  font-size: 58px;
  color: #fff;
  letter-spacing: 1px; }

#copy2 {
  width: 100%;
  top: 93px;
  left: -300px;
  letter-spacing: 0.9px;
  font-family: 'SSTPro-Light';
  font-size: 103px;
  color: #fff; }

#copy3 {
  width: 100%;
  top: 47px;
  left: 300px;
  font-family: 'SSTPro-Light';
  font-size: 56px;
  color: #fff;
  letter-spacing: 1px;
  opacity: 0; }

#copy3_1 {
  width: 100%;
  left: 300px;
  top: 159px;
  font-size: 36px;
  font-weight: 500;
  font-family: 'SSTPro-Light';
  text-align: left;
  letter-spacing: 0.3px;
  opacity: 0; }
  #copy3_1 span {
    color: #00a8e1;
    font-family: 'SSTPro-Bold';
    letter-spacing: 0.4px;
    margin-right: -6px; }

#copy4 {
  width: 100%;
  left: -300px;
  top: 94px;
  font-size: 76px;
  font-weight: 500;
  font-family: 'SSTPro-Light';
  text-align: left;
  letter-spacing: 0.3px; }

#copy5 {
  width: 100%;
  left: 300px;
  top: 48px;
  font-size: 50px;
  font-weight: 400;
  font-family: 'SSTPro-Light';
  text-align: left;
  letter-spacing: 0.2px; }

#copy6 {
  width: 100%;
  left: -300px;
  top: 94px;
  font-size: 50px;
  font-weight: 500;
  font-family: 'SSTPro-Light';
  text-align: left;
  letter-spacing: -0.7px; }
  #copy6 span {
    color: #00a8e1;
    font-family: 'SSTPro-Bold';
    letter-spacing: 0.4px;
    margin-right: -6px; }

#copy7 {
  width: 100%;
  top: 48px;
  left: 300px;
  font-family: 'SSTPro-Light';
  font-size: 53px;
  color: #fff;
  letter-spacing: 1px;
  opacity: 0; }

#copy7_1 {
  width: 100%;
  left: 300px;
  top: 131px;
  font-size: 45px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.3px;
  color: #00a8e1;
  font-family: 'SSTPro-Bold';
  opacity: 0; }
  #copy7_1 span {
    color: #fff;
    margin-left: -6px; }

#copy8 {
  width: 100%;
  left: -300px;
  top: 94px;
  font-size: 42px;
  font-weight: 500;
  font-family: 'SSTPro-Light';
  text-align: left;
  letter-spacing: 0px;
  opacity: 0; }

#copy9 {
  width: 100%;
  left: 0px;
  top: 100px;
  font-size: 33px;
  font-weight: 300;
  font-family: 'SSTPro-Light';
  text-align: center;
  letter-spacing: 0.3px;
  opacity: 0; }
  #copy9 span {
    margin-left: -6px; }

#copy10 {
  width: 200px;
  left: 56px;
  top: 53px;
  font-size: 15px;
  font-weight: 300;
  font-family: 'SSTPro-Bold';
  text-align: center;
  line-height: 18.9px;
  letter-spacing: 0.3px;
  opacity: 0; }
  #copy10 span {
    color: #00a8e1; }

#cta {
  width: 100%;
  height: 143px;
  top: 109px;
  background-position: 0px -109px;
  opacity: 0; }
